---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="flex flex-col items-center justify-center">
        <p class="text-center text-2xl font-bold mb-4">
            <strong>Visión</strong> Potencializar el valor del negocio a partir de estrategias de gestión de configuración del software, que incrementen la productividad, proporcionando como servicio la habilitación, migración de automatización de componentes.
        </p>
        <p class="text-center text-2xl font-bold mb-4">
            <strong>Misión</strong> Administrar el código y versionamiento de los componentes sobre las plataformas, habilitando y adoptando las mejores alternativas de solución técnicas, con el fin de satisfacer las necesidades de la operación y del negocio, haciendo uso de las herramientas y automatización de pipelines.
        </p>

    </section>
</Layout>