<footer>
    <div class="bg-white shadow py-4">
        <div class="container mx-auto text-center">
        <p>&copy; {new Date().getFullYear()} Sitio creado por Jose Toledano. Todos los derechos reservados.</p>
        <p>Sígueme en 
            <a href="https://github.com/joselebasi" class="text-blue-400 hover:text-blue-600">@joselebasi en GitHub</a>.
        </p>
        </div>
    </div>
</footer>