---
// Esto es un comentario en español
import { Image } from 'astro:assets';
---
<header class="bg-white shadow flex items-center justify-between p-4">
    <a href="/" class="flex items-center gap-4 cursor-pointer" style="text-decoration: none;">
        <Image src="/logo_BO.png" alt="logo backoffices" width="120" height="120" />
        <h1 class="text-xl font-bold">Ingenieria Backoffice</h1>
    </a>
    
    <nav>
        <ul class="flex gap-8 list-none py-4 m-0 justify-center">
            <li><a href="/estructura" class="text-gray-700 hover:text-blue-600 font-medium transition-colors">Estructura</a></li>
            <li><a href="/vision" class="text-gray-700 hover:text-blue-600 font-medium transition-colors">Vision</a></li>
        </ul>
    </nav>
</header>